.section {
    align-self: center;
    display: inline-flex;
    column-gap: 4px;
}

.label {
    font-weight: bold;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    display: inline;

    &:nth-last-child(n+2)::after {
        content: ", ";
    }
}