.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
    padding: 0;
}

.bar {
    position: absolute;
    width: 4px;
    height: 100%;
    left: calc(50% - 2px);
}
