.fallback {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 262px;
	width: 177px;
}

.eek {
	position: absolute;
	top: 100%;
	left: auto;
	right: 0;
}

.picker {
	align-items: center;
	background: none;
	border: none;
	color: inherit;
	column-gap: 4px;
	display: flex;
}
