.header {
	color: black;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.picker {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	margin: 8px;
}

.dropdown {
	align-items: center;
	column-gap: 8px;
	display: inline-flex;
}