.brand {
    color: inherit;
    font-size: 4vmin;
    text-decoration: none;
}

.navbar {
    align-items: center;
    display: inline-flex;
}

.pushTime {
    font-size: 1.75vmin;
    text-align: center;
}

.rightContent {
    align-items: center;
    column-gap: 2rem;
    display: inline-flex;
    justify-content: flex-end;
}
