.dropdown {
  color: white;
  font-size: 3.2vmin;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  width: 158px;
}

.item {
  text-decoration: none;
}
