.obsidian {
    background-color: #2e3134;
    color: white;
}

.babypink {
    background-color: #ffc2e2;
    color: white;
}

.royalblue {
    background-color: #0504aa;
    color: white;
}

.phoenixscarlet {
    background-color: #ea0a13;
    color: white;
}

.grapejelly {
    background-color: #8034eb;
    color: white;
}

.ogregreen {
    background-color: #c4d300;
    color: white;
}