.obsidian::after {
    background-color: #2e3134;
}

.babypink::after {
    background-color: #ffc2e2;
}

.royalblue::after {
    background-color: #0504aa;
}

.phoenixscarlet::after {
    background-color: #ea0a13;
}

.grapejelly::after {
    background-color: #8034eb;
}

.ogregreen::after {
    background-color: #c4d300;
}