.obsidian {
    background-color: #2e3134;
}

.babypink {
    background-color: #ffc2e2;
}

.royalblue {
    background-color: #0504aa;
}

.phoenixscarlet {
    background-color: #ea0a13;
}

.grapejelly {
    background-color: #8034eb;
}

.ogregreen {
    background-color: #c4d300;
}