@use './backgroundCommon.module.scss';

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    @include backgroundCommon.bg-common(0.5);
}

.bg2 {
    @extend .bg;
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}
  
.bg3 {
    @extend .bg;
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}