$colors: (
    "github": #171515,
    "linkedin": #0077b5,
    "steam": #145c8f,
    "discord": #7289da,
);

@mixin hover($color, $hex) {
    .#{$color} {
        border-color: $hex;
        color: $hex;
        @content;

        &:hover {
            background-color: $hex;
            color: white;
        }
    }
}

@mixin color-setter($property, $suffix-key: null) {
    @each $color, $hex in $colors {
        $hex: #{$hex};

        @if $suffix-key == "hover" {
            @include hover($color, $hex) {
                @content;
            };
        }
    }
}