.body {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    row-gap: 24px;
}

.obsidian {
    animation: gradient 15s ease infinite;
    background: linear-gradient(135deg, #2e313488, #d3d3d3, white);
    background-size: 400% 400%;
}

.babypink {
    animation: gradient 15s ease infinite;
    background: linear-gradient(135deg, #ffc2e288, #d3d3d3, white);
    background-size: 400% 400%;
}

.royalblue {
    animation: gradient 15s ease infinite;
    background: linear-gradient(135deg, #0504aa88, #d3d3d3, white);
    background-size: 400% 400%;
}

.phoenixscarlet {
    animation: gradient 15s ease infinite;
    background: linear-gradient(135deg, #ea0a1388, #d3d3d3, white);
    background-size: 400% 400%;
}

.grapejelly {
    animation: gradient 15s ease infinite;
    background: linear-gradient(135deg, #8034eb88, #d3d3d3, white);
    background-size: 400% 400%;
}

.ogregreen {
    animation: gradient 15s ease infinite;
    background: linear-gradient(135deg, #c4d30088, #d3d3d3, white);
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    12.5% {
        background-position: 25% 25%;
    }
    25% {
        background-position: 50% 50%;
    }
    37.5% {
        background-position: 75% 75%;
    }
    50% {
        background-position: 100% 100%;
    }
    62.5% {
        background-position: 75% 75%;
    }
    75% {
        background-position: 50% 50%;
    }
    87.5% {
        background-position: 25% 25%;
    }
    100% {
        background-position: 0% 0%;
    }
}