.button {
    align-items: center;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    width: 57px;
}

.github {
    border-color: #171515;
    color: #171515;

    &:hover {
        background-color: #171515;
        border-color: #171515;
        color: white;
    }
}

.linkedin {
    border-color: #0077b5;
    color: #0077b5;

    &:hover {
        background-color: #0077b5;
        border-color: #0077b5;
        color: white;
    }
}

.steam {
    border-color: #145c8f;
    color: #145c8f;

    &:hover {
        background-color: #145c8f;
        border-color: #145c8f;
        color: white;
    }
}