@use "../../backgroundCommon.module.scss";

@mixin stars-common($dimension) {
  background: transparent;
  height: $dimension;
  width: $dimension;
}

@mixin stars($delay, $dimension) {
  @include stars-common($dimension);
  animation: animStar $delay linear infinite;

  &::after {
    @include stars-common($dimension);

    content: " ";
    position: absolute;
    top: 2000px;
  }
}

.background {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  @include backgroundCommon.bg-common(1);
}

.stars {
  @include stars(50s, 1px);
}

.stars2 {
  @include stars(100s, 2px);
}

.stars3 {
  @include stars(150s, 3px);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
